<app-header title="Iniciar Sesion"></app-header>

<ion-content >
<div class="d-flex-center">

    <form [formGroup]='form' class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
    <app-logo></app-logo>
    <br>
      <app-custom-input
      autocomplete="Usuario"
      icon="person-add-outline"
      [control]="form.controls.email"
      type="text"
      label="Usuario"
      ></app-custom-input>
      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El usuario es requerido</div>

      </div>

      <app-custom-input
      icon="lock-closed-outline"
      [control]="form.controls.password"
      type="password"
      label="Contraseña"
      ></app-custom-input>
      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
        <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</div>

      </div>

      <ion-button  expand="block" type="submit" class="submit" [disabled]="form.invalid" >
        Ingresar
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>

   </form>
 </div>
</ion-content>
