<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <Strong>Concejales</Strong>
      <div class="admin">Quillacollo</div>
    </ion-title>
    <ion-buttons slot="end">
      <img src="assets/logo.jpeg" width="40px" heigth="36px" >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-grid class="tabla-acta">

<ion-row class="header">

      <ion-col size="1">#</ion-col>

      <ion-col size="4">Partido</ion-col>

      <ion-col size="5">Candidato</ion-col>

      <ion-col size="2" class="center">
      Votos
     </ion-col>
</ion-row>
<ion-row *ngFor="let c of concejales; let i=index" class="fila">
    <ion-col size="1" class="num">
    {{i+1}}
    </ion-col>

    <ion-col size="4" class="partido">
      <ion-thumbnail>
        <img [src]="'assets/partidos/'+c.logo" class="logo">
      </ion-thumbnail>
      {{c.partido}}
    </ion-col>

    <ion-col size="5" class="candidato">

        {{c.candidato}}
    </ion-col>

<ion-col size="2" class="center">
    <ion-input type="text" style ="background-color: rgb(182, 185, 188); border: darkblue; border-color: black;"
    inputmode="numeric"
    class="input-votos"
    maxlength="3"
    [(ngModel)]="c.votos"
    (ionInput)="soloNumeros($event)"
    >   </ion-input>
</ion-col>

</ion-row>

<!-- BLANCOS -->

<ion-row class="extra">

<ion-col size="10">
– Votos en Blanco
</ion-col>

<ion-col size="2" class="center">

<ion-input style ="background-color: rgb(182, 185, 188); border: darkblue; border-color: black;"
type="number"
[(ngModel)]="blancos"
(input)="soloNumeros($event)"
></ion-input>

</ion-col>

</ion-row>

<!-- NULOS -->

<ion-row class="extra">

<ion-col size="10">
× Votos Nulos
</ion-col>

<ion-col size="2" class="center">

<ion-input style ="background-color: rgb(182, 185, 188); border: darkblue; border-color: black;"
  type="number"
  [(ngModel)]="nulos"
  (input)="soloNumeros($event)"
  min="0"
  max="9999"
  class="input-votos"
></ion-input>
</ion-col>

</ion-row>
<br>
<ion-item color="light">
  <ion-label><strong>Total</strong></ion-label>
  <ion-badge color="success">{{total}}</ion-badge>
</ion-item>
<br>
</ion-grid>
<ion-button expand="full" color="primary" (click)="continuar()">
  Ver Resumen
</ion-button>
</ion-content>

